.gal {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 32px auto;
}
#holamundo{
    width: 500px;
    height: 350px;
}
.imagen{
    width: 400px;
    height: 350px;
    align-self: center;
}
.animasion{
    animation-name: animasion;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
.ou{
    justify-self: center;
    align-self: center;
}
@keyframes animasion{
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}
.gal-div{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 550px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    margin: 0 32px;
}