.gal {
    width: auto;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    justify-self: center;
    justify-content: center;
}
#holamundo{
    width: 500px;
    height: 350px;
}
.imagen{
    width: 400px;
    height: 350px;
}
.animasion{
    animation-name: animasion;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
.ou{
    justify-self: center;
    align-self: center;
}
@keyframes animasion{
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}