body{
    margin:0px;
}
.header{
    height: 75px;
    width: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    padding: 10px;
}
.links{
    margin:0px auto;
    text-decoration: none;
    align-self: center;
}
.paintings{
    height: auto;
    width: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.painting{
    height: auto;
    width:275px;
    border: gray 1px solid;
    border-radius: 5px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
}
.link{
    text-decoration:none;
    color:white;
}
.footer{
    width: 100%;
    height: 300px;
    color: white;
    display: flex;
    flex-direction: row;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button{
    display: flex;
    height: 50px;
    width:auto;
    align-content: center;
    justify-content: center;

}
.clarito{
    justify-self: auto;
}
.botonoscuro{
    justify-self: flex-end;
}

@media (max-width: 600px) {
    .header{
        flex-flow: column;
        height: auto;
        justify-content: flex-start;
        align-content: flex-start;
        width: auto;
    }
    .links{
        margin:16px 0;
    }

}